body {
	background-image: url("https://s-media-cache-ak0.pinimg.com/originals/b9/f9/fb/b9f9fb93577ce69c77e46aeb6e9221e0.jpg");
}

header{
	font-family: 'Karla', sans-serif;
	text-align: center;
}
.main-parent{
	display: flex;
	flex-direction: row-reverse;
}

.left-parent{
	margin-left: 20px;
	display: flex;
	flex-direction: column;
	height: 500px;
	width: 250px;
	justify-content: space-between;

}
input{
	font-family: 'Karla', sans-serif;
	width: 50px;
}

.left-button{
	font-family: 'Karla', sans-serif;
	display: inline-block;
	width: 200px;
	padding: 8px;
	color: #fff;
	border: 1px solid #fff;
	text-align: center;
	outline: none;
	text-decoration: none;

}
.left-button:hover,
.left-button:active{
	background-color: #fff;
	color: #000;
}
.right-parent{
	display: flex;
	flex-direction: column;
	height:	500px;
	width:	150px;
	float: right;
	margin-right: 120px;
}

.scores {
 	width: 150px;
 	height: 50px;
 	display: inline-block;
	margin: 0 auto;
	text-align: center;
	color:	white;
 }

#start {
	width: 200px;
	height: 200px;
	display: block;
	margin: auto;
	position: relative;
}

#title{
	color: white;
}

 #hunger{
 	
 }

 #sleepiness{
 	
 }

 #boredom{
 	
 }
 
 #age {
 	

 }

 #dimmer{
 	background: #000;
 	opacity: 0.5;
 	position: fixed;
 	top: 0;
 	left: 0;
 	width: 100%;
 	height: 100%;
 	display: none;
 	z-index: 9999;
}

 #lights-on{
 	font-family: 'Karla', sans-serif;
 	margin: 0 auto;
 	background-color: red;
 	margin: 400px 0 0 50%;
 	display: block;
 	width: 100px;
 	color: #fff;
 	border: 1px solid #fff;
 	text-align: center;
 	outline: none;
 	text-decoration: none;

 }

#lights-on:hover
#lights:active{
	background-color: #fff;
	color: #000;
}
.category{
	font-family: 'Karla', sans-serif;
	color: white;
	text-align: center;
	padding: 5px;
}

.animate{
	animation-name: moveIt;
	animation-duration: 2s;
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards;
	animation-direction: alternate;
	animation-iteration-count: 2;
}
@keyframes moveIt{
	0% {transform: translateX(0);}
	25% {transform: translateX(-300px);}
	50%{transform: translateX(300px);}
	75%{transform: translateX(-300px);}
	100%{transform: translateX(0);}
}








