body {
	background-color: white;
	background-image: url("https://s-media-cache-ak0.pinimg.com/originals/b9/f9/fb/b9f9fb93577ce69c77e46aeb6e9221e0.jpg");
	text-align: center;
}

#start {
	width: 200px;
	height: 200px;
	display: block;
	margin: 0 auto;
}
 #hunger{
 	background-color: red
 }
 #sleepiness{
 	background-color: green;
 }
 #boredom{
 	background-color: blue;
 }
 .scores {
 	width: 50px;
 	height: 50px;
 	display: inline-block;
	margin: 0 auto;
	text-align: center;
 }
 #age {
 	background-color: orange;

 }

 #dimmer{
 	background: #000;
 	opacity: 0.5;
 	position: fixed;
 	top: 0;
 	left: 0;
 	width: 100%;
 	height: 100%;
 	display: none;
 	z-index: 9999;

 }

